
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>InsertUser</title>
</head>
<body>
    <div> 
        <form id="ff" class="easyui-form" method="get" action="/Home/InsertUser">
        
        </form>
    </div>
</body>
</html>
